/* line 36, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/../behaviors/box-sizing/boxsizing.php'); }

/* line 4, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* line 17, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, c:/Ruby200-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 15, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
li {
  list-style-type: disc;
  list-style-position: outside; }

/* line 25, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
body {
  width: 670px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }

/* line 33, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
ul, li {
  margin-left: 20px; }

/* line 36, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
img {
  vertical-align: middle; }

/* line 43, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
html {
  font-size: 13px;
  font-family: Verdana, sans-serif;
  line-height: 160%; }

/* line 49, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 118%;
  color: #999999; }

/* line 53, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
h1 {
  font-size: 30px;
  margin-bottom: 0.5em;
  color: black; }

/* line 58, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
h2 {
  font-size: 20px; }

/* line 61, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
h3 {
  font-size: 18px; }

/* line 64, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
h4 {
  font-size: 16px; }

/* line 67, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
a {
  color: #6da3bd; }
  /* line 70, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
  a:hover {
    color: #4d7285; }
  /* line 73, d:/Dropbox/Work/Sites/kharkivcss-digest/source/stylesheets/style.sass */
  a:visited {
    color: #990099; }
